---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { calculateReadTime } from "../../utils/time";
import ArticleCategory from "../../components/ArticleCategory.astro";
import moment from "moment";
import ArticleInfo from "../../components/ArticleInfo.astro";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  const paths = posts.map((post: CollectionEntry<"posts">) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });

  return paths;
};

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { Content } = await post?.render();
---

<Layout title={post.data.title}>
  <main class="flex flex-col items-center gap-5">
    <div class="center-container">
      <div class="flex flex-col items-center w-full gap-2 mb-5">
        <div>
          <div class="text-xl text-rose-500 font-bold leading-[2rem] uppercase">
            {calculateReadTime(post.body)} min read
          </div>
          <h1
            class="font-bold text-5xl max-w-[900px] text-slate-800 dark:text-slate-200 leading-[4rem]"
          >
            {post.data.title}
          </h1>
        </div>
      </div>
      <Image
        class="rounded-lg w-full"
        src={post.data.image}
        alt={post.data.title}
      />
      <div
        class="text-center text-3xl text-slate-400 dark:text-slate-500 font-semibold my-10"
      >
        {post.data.description}
      </div>
    </div>
    <hr class="w-screen separator" />
    <div class="article-md w-full">
      <div class="content-grid">
        <div class="col-start-2">
          <ArticleInfo
            categories={post.data.categories}
            publicationDate={post.data.date}
          />
          <Content />
        </div>
      </div>
    </div>
  </main>
</Layout>
