---
import { Icon } from "astro-icon/components";
import moment from "moment";

interface Props {
  repo: any;
}

const repoNameToPhrase = (name: string) => {
  return name.split("-").join(" ");
};

const { repo } = Astro.props;
---

<a
  href={repo.html_url}
  class="flex flex-col justify-between gap-4 border
  border-dashed p-5 rounded-md border-gray-400/65 dark:border-gray-800 hover:border-gray-600/65"
  target="_blank "
>
  <div>
    <div class="flex justify-between">
      <span class="capitalize font-medium text-slate-600 dark:text-slate-200"
        >{repoNameToPhrase(repo.name)}</span
      >
      <div class="flex gap-2">
        <span class="flex gap-1 items-center text-sm">
          <Icon name="star" class="text-slate-500" width={17} height={17} />
          <span class="text-slate-600 dark:text-slate-200"
            >{repo.stargazers_count}</span
          >
        </span>
        <span class="flex gap-1 items-center text-sm">
          <Icon name="fork" class="text-slate-500" width={17} height={17} />
          <span class="text-slate-600 dark:text-slate-200">{repo.forks}</span>
        </span>
      </div>
    </div>
    <span class="text-slate-500 text-sm">{repo.description}</span>
  </div>
  <div>
    <div class="text-xs flex justify-between">
      <span class="text-slate-400 dark:text-slate-600"
        >Updated {moment(repo.updated_at).fromNow()}</span
      >
      <span class="text-slate-400 dark:text-slate-600">{repo.language}</span>
    </div>
  </div>
</a>
